/FinalProject/Library/
/FinalProject/Logs/
/FinalProject/Temp/
/FinalProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
FinalProject/UserSettings/EditorUserSettings.asset
FinalProject/UserSettings/Layouts/default-2021.dwlt
